.DS_Store
*.pyc
*.egg-info
*.swp
tags
node_modules
__pycache__
mbw_transition_hub/www/mbw_transition_hub.html
mbw_transition_hub/mbw_transition_hub/public/node_modules
frontend/components.d.ts
mbw_transition_hub/public/node_modules