@import './assets/Inter/inter.css';
@import 'frappe-ui/src/style.css';

@layer components {
	.prose-f {
		@apply break-all
			max-w-none
			prose
			prose-code:break-all
			prose-code:whitespace-pre-wrap
			prose-img:border
			prose-img:rounded-lg
			prose-sm
			prose-table:table-fixed
			prose-td:border
			prose-td:border-outline-gray-2
			prose-td:p-2
			prose-td:relative
			prose-th:bg-surface-gray-2
			prose-th:border
			prose-th:border-outline-gray-2
			prose-th:p-2
			prose-th:relative;
	}
}

/* Áp dụng toàn cục hoặc qua class như `.smooth-scroll` */

html,
body,
* {
	scrollbar-width: thin;
	/* Firefox - luôn chiếm chỗ nhưng mảnh */
	scrollbar-color: transparent transparent;
	transition: scrollbar-color 0.3s ease-in-out;
}

/* Chrome/Safari/Edge */
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

*::-webkit-scrollbar-thumb {
	background-color: transparent;
	border-radius: 8px;
	-webkit-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

/* Hover vào vùng có scrollbar */
*:hover {
	scrollbar-color: rgba(120, 120, 120, 0.4) transparent;
}

*:hover::-webkit-scrollbar-thumb {
	background-color: rgba(120, 120, 120, 0.4);
}

*:hover::-webkit-scrollbar-thumb:hover {
	background-color: rgba(120, 120, 120, 0.6);
}
